body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #fafafa;
}

/* HEADER */

#bgimage {
    background-image: url(images/bg-drone1.jpg);
    max-height: 500px;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
    padding-top: 100px;

}

#bgimage img {
    border-radius: 50%;
    border: 1px solid #838383;
    width: 200px;
    height: 200px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

#colorfilter {
    background: rgba(255, 255, 255, 0.4);
    padding: 30px 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
    width: fit-content;
}

#colorfilter h1 {
    font-weight: 700;
    font-size: 50px;
}

#colorfilter p {
    text-transform: uppercase;
    margin-top: -10px;
    font-weight: 600;
    font-size: 20px;
}

/* MAIN */

main {
    padding: 20px;
    background-color: #fafafa;
}

main article {
    background-color: white;
}

#about {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    text-align: justify;
    max-width: 1000px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 60px auto;
    border-radius: 10px;
    background-color: white;
}

main article {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    text-align: left;
    max-width: 1000px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 35px auto;
    border-radius: 10px;
}

h2 {
    font-size: xx-large;
}

#aboutme,
#info {
    max-width: 400px;
    padding: 15px;
}

#info td {
    padding: 5px 10px;
    padding-left: 0px;
}

.leftbox {
    width: 150px;
    max-width: 150px;
    text-align: center;
    color: white;
    background-color: #266BAC;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: auto auto;
}


.rightbox {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
}

.outsec {
    margin-top: 60px;
}

/* FOOTER */

footer {
    background-color: #fafafa;
    margin-bottom: 60px;
}

.fa {
    font-size: 50px;
    margin: 10px 5px;
    margin-bottom: 50px;
}

footer a {
    color: #266BAC;
}

footer span:hover {
    font-size: 35px;
}

footer p {
    display: inline;
}

/* MEDIA QUERIES */

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {

    #about {
        display: flex;
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        text-align: center;
        max-width: 1000px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        margin: 60px auto;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutme,
    #info {
        max-width: 1000px;
    }

    #info table {
        text-align: left;
    }

    main article {
        display: inline-block;
        /*
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;*/
        text-align: left;
        max-width: 1000px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        margin: 35px auto;
        border-radius: 10px;
    }

    .leftbox {
        display: inline;
        width: 20%;
        text-align: center;
        color: white;
        background-color: #266BAC;
        padding: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        margin: auto auto;
    }

    .rightbox {
        display: inline;
        width: 80%;
    }
}